@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayOut.cshtml";
}

@* Popup for AddPOS *@
<div class="modal modal_c fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabels" id="posAddPopup">
    <div class="modal-dialog modal-md m-t-xxxl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btn_closeAdd" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add POS</h4>
            </div>
            <div class="modal-body" id="posAdd">

            </div>
            <div class="modal-footer form_btn_block">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="posCancel">Cancel</button>
                <button type="button" class="btn save" id="posSave">Save</button>
            </div>
        </div>
    </div>
</div>

@*Popup for Edit POS*@
<div class="modal modal_c fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="posEditPopup">
    <div class="modal-dialog modal-md m-t-xxxl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btn_closeEdit" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit POS</h4>
            </div>
            <div class="modal-body" id="posEdit">

            </div>
            <div class="modal-footer form_btn_block">
                <button type="button" class="btn btn-default" id="btn_PosEditCancel">Cancel</button>
                <button type="button" class="btn save" id="btnPosEditSave">Update</button>
            </div>
        </div>
    </div>
</div>

<section id="main-content">
    <div class="breadcrumb_block">
        <div class="col-xs-12">
            <div class="">
                <div class="pull-left">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">
                           Manage POS Registration 
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 text-right pull-right">
                <div class="tooltip__block">
                    <div class="modal_btn_click" data-toggle="modal" data-target="#add_pos">
                        <button type="button" id="btnAddPos" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="icon-add" aria-hidden="true"></i></button>
                    </div>
                    <div class="modal_btn_click" id="btnEditPos" data-toggle="modal" data-target="#edit_pos">
                        <button type="button" class="btn btn-default disabletool" data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="icon-edit" aria-hidden="true"></i></button>
                    </div>

                    <button type="button" id="btnActivate" class="btn btn-default disabletool" data-toggle="tooltip" data-placement="bottom" title="Activate"> <i class="icon-done" aria-hidden="true"></i></button>

                    <button type="button" id="btnDeactivate" class="btn btn-default disabletool" data-toggle="tooltip" data-placement="bottom" title="Deactivate"><i class="icon-block" aria-hidden="true"></i></button>

                    <button type="button" class="btn btn-default disabletool" data-toggle="tooltip" data-placement="bottom" title="Add From File"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>

                    <button type="button" class="btn btn-default disabletool" data-toggle="tooltip" data-placement="bottom" title="Download Template"><i class="glyphicon glyphicon-save-file" aria-hidden="true"></i></button>

                    <button type="button" id="btnDeletePos" class="btn btn-default disabletool" data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash-o delete" aria-hidden="true"></i></button>
                </div> 
            </div>
        </div>
    </div>

    <section class="wrapper main-wrapper row mt0">
        <div class="col-lg-12" id="pos_Grid">

        </div>
    </section>
</section>
<script src="~/assets/js/jquery.aCollapTable.min.js"></script>
<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<link href="~/assets/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Js/Common.js"></script>
<script>
    $(document).ready(function () {
        //-----------------------------------// Disable management tools on page load //-----------------------------------//
        $('[rel=tooltip]').tooltip({ trigger: "hover" });
        if (!$('input.checkbox_click').is(':checked')) {

            $('.disabletool').attr("disabled", "disabled");

        } else {
            $('.disabletool').removeAttr("disabled", "disabled");

        }
    });
   $('#btnAddPos').click(function () {
        $('#posAddPopup').modal('show');
        LoadAddPopup();
        function LoadAddPopup() {
            $.ajax({
                url: '@Url.Action("LoadAddPosPopup", "POSRegistration")',
                type: 'POST',
                success: function (data) {
                    if (data.Status == 1) {
                        console.log(data.Data);
                        $("#posAdd").empty();
                        $("#posAdd").html(data.Data);
                    }
                    else {
                        ShowAlert('Something wrong!', 'error');
                    }
                },
                error: function (data) {
                    ShowAlert('Something wrong!', 'error');
                }
            });
        }
       DisableTool();
       $(this).tooltip('hide');
    });
    $("#btnEditPos").click(function () {


        var id = CheckCheckboxCheckedOrUnchecked();
        if (id != null) {
            ShowProgress();
            $.ajax({
                url: '@Url.Action("LoadEditPosPopUp", "POSRegistration")',
                type: 'Post',
                data: { id: id },
                success: function (data) {
                    if (data.Status == 1) {
                        hideProgress();
                        $("#posEditPopup").modal('show');
                        $("#posEdit").empty();
                        $("#posEdit").html(data.Data);
                    }
                    else {
                        hideProgress();
                        ShowAlert('Something wrong!', 'error');
                    }
                },
                error: function (data) {
                    hideProgress();
                    ShowAlert('Something wrong!', 'error');
                }

            });
        }
    });
    function CheckCheckboxCheckedOrUnchecked() {
        var id;
        $(".checkbox_click").each(function () {
            if ($(this).prop('checked') == true) {
                id = $(this).attr('id');
            }
        });
        return id;
    }
    $("#btnDeletePos").click(function () {
        var idForDelete = CheckCheckboxCheckedOrUnchecked();
        console.log(idForDelete);
        if (idForDelete != null) {
            bootbox.confirm("Are you sure you want to delete?", function (result) {
                if (result) {
                    console.log("hi");
                    ShowProgress();
                    $.ajax({

                        url: '@Url.Action("DeletePos", "POSRegistration")',
                        type: 'POST',
                        data: { id: idForDelete },
                        success: function (data) {
                            console.log("hi");
                            if (data.Status == 1) {
                                hideProgress();
                                $('#pos_Grid').empty();
                                $('#pos_Grid').html(data.Data);
                                ShowAlert(data.Message, 'success');
                            }
                            else {
                                hideProgress();
                                $('.checkbox_click').prop('checked', false);
                                ShowAlert(data.Message, 'error');
                            }
                        },
                        error: function (data) {
                            hideProgress();
                            $('.checkbox_click').prop('checked', false);
                            ShowAlert('Something wrong!', 'error');
                        }
                    });
                }
                $('.checkbox_click').prop('checked', false);
            });
        }
    });
    $("#btn_closeAdd").click(function () {
        $('#posAddPopup').modal('hide');
        $("#posNumber").val('');
        $("#serialNumber").val('');
        $("#modelNumber").html('');
        $("#purchaseLPO").html('');
        $("#warrantyExpiry").html('');
        $("#manufacturer").html('');
        $("#manufacturingYear").html('');
        $("#remarks").html('');
        hideProgress();
    });

    $("#btn_closeEdit").click(function () {
        $('#posAddPopup').modal('hide');
        $("#posNumber").val('');
        $("#serialNumber").val('');
        $("#modelNumber").html('');
        $("#purchaseLPO").html('');
        $("#warrantyExpiry").html('');
        $("#manufacturer").html('');
        $("#manufacturingYear").html('');
        $("#remarks").html('');
        hideProgress();
    });

    $(document).ready(function () {
        GetCategoryDetails();
        function GetCategoryDetails() {
            ShowProgress();
            $.ajax({
                url: '@Url.Action("GetAllPOS", "POSRegistration")',
                type: 'POST',
                success: function (data) {
                    if (data.Status == 1) {
                        hideProgress();
                        $('#pos_Grid').empty();
                        $('#pos_Grid').html(data.Data);

                    }
                    else {
                        hideProgress();
                        ShowAlert('Something wrong!', 'error');
                    }

                },

                error: function (data) {
                    hideProgress();
                    ShowAlert('Something wrong!', 'error');
                }
            });
        }
    })
    $('.wraplist li a').each(function (index, value) {
        if ($(this).attr('href') == '/POSRegistration/Index') {
            $(this).parent().addClass('open');
            return;
        }
    })

    $('#btnActivate').click(function () {
        var id = CheckCheckboxCheckedOrUnchecked();
        if (id != null) {
            bootbox.confirm("Are you sure you want to Activate this feature?", function (result) {
                if (result) {
                    ShowProgress();
                    $.ajax({
                        url: '@Url.Action("ActivateDeactivatePOS", "POSRegistration")',
                        type: 'POST',
                        data: { posId: id, flag: 1 },
                        success: function (data) {
                            if (data.Status == 1) {
                                hideProgress();
                                ShowAlert(data.Message, 'success');
                                $('#pos_Grid').empty();
                                $('#pos_Grid').html(data.Data);
                                ShowAlert(data.Message, 'success');
                            }
                            else if (data.Status == 0) {
                                hideProgress();
                                ShowAlert(data.Message, 'warning');
                                $('#pos_Grid').empty();
                                $('#pos_Grid').html(data.Data);
                                collapseTable();
                            }
                            else {
                                hideProgress();
                                ShowAlert('Something wrong!', 'error');
                                ShowAlert(data.Message, 'error');
                            }
                        },
                        error: function (data) {
                            hideProgress();
                            ShowAlert('Something wrong!', 'error');
                            ShowAlert(data.Message, 'error');
                        }
                    });
                }
            });
        }
    });


    $('#btnDeactivate').click(function () {
        var id = CheckCheckboxCheckedOrUnchecked();
        if (id != null) {
            bootbox.confirm("Are you sure you want to Deactivate this feature?", function (result) {
                if (result) {
                    ShowProgress();
                    var hierarchyid = $("#hierarchyList li.active").attr('id');
                    $.ajax({
                        url: '@Url.Action("ActivateDeactivatePOS", "POSRegistration")',
                        type: 'POST',
                        data: { posId: id, flag: 0 },
                        success: function (data) {
                            console.log(data.Message,data.Status);
                            if (data.Status == 1) {
                                hideProgress();
                                $('#pos_Grid').empty();
                                $('#pos_Grid').html(data.Data);
                                ShowAlert(data.Message, 'success');
                            }
                            else if (data.Status == 0) {
                                hideProgress();
                                ShowAlert(data.Message, 'warning');
                                $('#pos_Grid').empty();
                                $('#pos_Grid').html(data.Data);
                            }
                            else {
                                hideProgress();
                                ShowAlert(data.Message, 'error');
                            }
                        },
                        error: function (data) {
                            hideProgress();
                            ShowAlert(data.Message, 'error');
                        }
                    });
                }
            });
        }
    });

</script>
